[MAIN]
ignore-paths=backend/alembic,backend/tests

[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
disable=
    C0114,
    C0115,
    C0116,
    R0903,
    R0801,
    E1102

[DESIGN]
min-public-methods=0
max-args=7
max-positional-arguments=7
